.profile{
    padding-right:20px;
    padding-left:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:gray;
}

.profile__top {
    display:flex;
    align-items: center;
    padding:10px;
    min-width: 60%;
    /* width:60%; */
    /* justify-content: space-between; */
    box-shadow: 0 0 4px 0 lightgray;
 
}

.profile__top > img {
    border-radius: 50%;
    border:7px solid rgb(79, 79, 190);
    height: 200px;
    width:200px;
    margin:5px 5px;
    object-fit: cover;
    
}

.profile__top > button{
    margin:5px;
    box-shadow: 0 0 8px -1px rgb(223, 219, 219);
    font-weight: 700;
    color:gray;
}
.name{
    margin:5px;
    flex:1
}


.profile__top > .name > .name__id > .MuiSvgIcon-root{
    
    cursor: pointer;
    
}


.name__id{
    display: flex;
}


.profile > form > textarea {
    display: hidden;
}