.profile{
    padding-right:20px;
    padding-left:20px;
    /* padding-top: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color:gray;
}

.profile__top,.profile__row {
    display:flex;
    align-items: center;
    padding:10px;
    min-width: 60%;
    border-radius: 10px;
    /* width:60%; */
    /* justify-content: space-between; */
    box-shadow: 0 0 4px 0 lightgray;
 
}

.profile__top > img {
    border-radius: 50%;
    border:7px solid rgb(79, 79, 190);
    height: 200px;
    width:200px;
    margin:5px 5px;
    object-fit: cover;
    
}

.profile__top > button{
    margin:5px;
    box-shadow: 0 0 8px -1px rgb(223, 219, 219);
    font-weight: 700;
    color:gray;
}
.name{
    padding-left:15px;
    flex:1
}

.profile__img{

    height:180px;
    width:180px;
    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* background-size:"contain" */
    background-position: center;
    display: flex;
    flex-direction: column;

    justify-content: center;
    transition:0.7s all;

}

.profile__img:hover{
    transition :1s all;
}

.profile__img:hover > .profile__change{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(235, 235, 235);
    background-color: rgba(240, 248, 255, 0.246);
    transition:1s all;
    font-size: small;
    
}

.profile__change{
    display: none;
    padding:5px;
    border:none;
    /* border-top: 1px solid gray; */
    /* margin-bottom: 10px; */

}

.profile__top > .name > .name__id > .MuiSvgIcon-root{
    
    cursor: pointer;
    
}

.profile__row{

    display: flex;
    justify-content: center;
     align-items: flex-start;
    margin-top: 20px;
    padding:10px;
    min-width: 60%;
    
}

.name__id{
    display: flex;
}


.profile > form > textarea {
    display: hidden;
}



.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  