.ShowPrescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;;
}

.ShowPrescription > .row,span{
    /* border-left: 2px solid blue; */
    cursor: pointer;

}

.ShowPrescription> .row:hover{
    background-color: rgba(128, 128, 128, 0.103);
}

.row__header{
    display: flex;
    align-items: center;
}

.row__header >h2 {
    flex:1;
    padding:5px 10px;
}
.row{
    display: flex;
    margin-top: 3px;
}


.more{
    display: flex;
    justify-content: flex-end;
}

