.listofusers{
    display:flex;
    /* padding-top:70px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.userAllowed{
    display:flex;
    padding:7px;
    margin-top: 15px;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width:70%;
    background-color: #fff;
    /* border:none;
    outline-color: none; */
    /* height: 60px; */
    /* border: 1px solid rgba(128, 128, 128, 0.438); */
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.356);;
    border-radius:10px;
}

.userAllowed-right{
    flex:1;
    padding:3px;
    display: flex;
    flex-direction: row;
    /* cursor: pointer; */
    align-items:center ;
    /* justify-content: center; */
}


.userAllowed-right > .avatar,p{
    
    margin-right: 10px;
    margin-left:5px;

}


 .userAllowed button{
    background-color: red;
    font-weight: bolder;
    border:none;
    box-shadow: 0 1px 1px 0px rgba(128, 128, 128, 0.479);
    padding:5px;
    outline:none;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}

.userAllowed button:active{
    color:lightgray;
    box-shadow: 2px 1px 0px 1px rgba(103, 42, 216, 0.473);
}


