.recordDisplay{
    /* padding:5%; */
    padding:0 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
 
    
}
.record{
    width:100%;
    position: relative;
}

.record-box{
    padding:0px 5px;
    /* width: 60%; */
    border:3px solid rgba(0, 0, 255, 0.658);
    
    margin:10px;
    border-radius: 10px;
    cursor: pointer;
    
}

.record-box:hover{
    background-color: rgba(13, 45, 224, 0.178);
}

.record-box:active{
    background-color: rgba(13, 45, 224, 0.397);
}