.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app{
    height: 100vh;
    width:100vw;

 /* background:-moz-radial-gradient(circle at 23% 25%, rgba(24, 24, 24, 0.54) 1%, rgba(0, 0, 0, 0.79) 50%, rgba(0, 0, 0, 0.63) 100%); */

 /* safari 5.1+,chrome 10+ */
 /* background:-webkit-radial-gradient(circle at 23% 25%, rgba(24, 24, 24, 0.54) 1%, rgba(0, 0, 0, 0.79) 50%, rgba(0, 0, 0, 0.63) 100%); */

 /* opera 11.10+ */
 /* background:-o-radial-gradient(circle at 23% 25%, rgba(24, 24, 24, 0.54) 1%, rgba(0, 0, 0, 0.79) 50%, rgba(0, 0, 0, 0.63) 100%); */

 /* ie 10+ */
 /* background:-ms-radial-gradient(circle at 23% 25%, rgba(24, 24, 24, 0.54) 1%, rgba(0, 0, 0, 0.79) 50%, rgba(0, 0, 0, 0.63) 100%); */

 /* global 92%+ browsers support */
 /* background:radial-gradient(circle at 23% 25%, rgba(24, 24, 24, 0.54) 1%, rgba(0, 0, 0, 0.79) 50%, rgba(0, 0, 0, 0.63) 100%); */
}