.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
}

.signup >h2 {
    color:blueviolet;
    font-weight: 700;
}

.signup>form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.signup>form>input{
    
    height:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:5px 10px;
    width: 330px;
    height: 30px;
    font-size: medium;
    border:0px solid;
    /* border-radius: 5px; */
    border-bottom: 2px solid rgba(128, 128, 128, 0.74);
    border-color: blueviolet;
    outline:none;
}

h1{
    color:rgba(137, 43, 226, 0.884);
 
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup>form>input:focus,select:focus{
    outline-width: 0.5px;
    outline-color: rgba(137, 43, 226, 0.39);
    outline-style: solid ;
    border-radius: 5px;
    border:0px solid;
}

.singup>form>.submit-btn{
    background-color: rgb(60, 160, 241);
    color:white;
    width: 100%;
    transition:0.5s all;
}

select,select > option {
    margin:10px 0;
    padding:5px 10px;
    font-size: medium;
    border-radius: 5px;
    border:1px solid gray;
}



.google-login{
    background-color: rgb(236, 36, 36);
    padding:3px;
    color:white;
}

.facebook-login{
    background-color: blue;
    color:white;
    padding:3px;

}