.prescription_image_item{
    display:flex;
    flex-direction:column;
    align-items:center;
    position: relative;
    margin-left:10px;
}

.prescription_image_item > img{
    height:135px;
    object-fit: contain;
}

.prescription_image_item > .MuiSvgIcon-root{
    top: 0;
    right: 0;
    color:gray;
    position:absolute;
    cursor: pointer;
}

.prescription_image_item > .MuiSvgIcon-root:hover{
    color:white;
}